In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('D:\\Learning\\Pandas\\Companies.csv')
df

,0,1,2,3,4,5,6,7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,$11757018,6482465 Dollars,5274553,30%
2,2,Stripfind,Financial Services,2010,$12329371,916455 Dollars,11412916,20%
3,3,CaneCorporation,Health Services,2012,$10597009,7591189 Dollars,6597557,7%
4,4,MatTouch,IT Services,2013,$14026934,7429377 Dollars,3138627,26%
5,5,TechDrill,Financial Services,2009,$11757018,916455 Dollars,11412916,8%
6,6,TechLine,Financial Services,2006,$12329371,6482465 Dollars,11412916,23%
7,7,CityAce,Financial Services,2010,$11757018,916455 Dollars,11412916,6%
8,8,KeyElectronics,Financial Services,2009,$12329371,6482465 Dollars,11412916,4%
9,9,Ganzlax,Financial Services,2011,$11757018,916455 Dollars,11412916,18%
10,9,TranTaxlax,Financial Services,2011,$12329371,6482465 Dollars,11412916,7%

In [5]:
df=pd.read_csv('D:\\Learning\\Pandas\\Companies.csv',header=1)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,$11757018,6482465 Dollars,5274553,30%
1,2,Stripfind,Financial Services,2010,$12329371,916455 Dollars,11412916,20%
2,3,CaneCorporation,Health Services,2012,$10597009,7591189 Dollars,6597557,7%
3,4,MatTouch,IT Services,2013,$14026934,7429377 Dollars,3138627,26%
4,5,TechDrill,Financial Services,2009,$11757018,916455 Dollars,11412916,8%
5,6,TechLine,Financial Services,2006,$12329371,6482465 Dollars,11412916,23%
6,7,CityAce,Financial Services,2010,$11757018,916455 Dollars,11412916,6%
7,8,KeyElectronics,Financial Services,2009,$12329371,6482465 Dollars,11412916,4%
8,9,Ganzlax,Financial Services,2011,$11757018,916455 Dollars,11412916,18%
9,9,TranTaxlax,Financial Services,2011,$12329371,6482465 Dollars,11412916,7%

In [6]:
df=pd.read_csv('D:\\Learning\\Pandas\\Companies.csv')
df

,Unnamed: 0,DATA,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,Lamtone,IT Services,2009,$11757018,6482465 Dollars,5274553,30%
2,Stripfind,Financial Services,2010,$12329371,916455 Dollars,11412916,20%
3,CaneCorporation,Health Services,2012,$10597009,7591189 Dollars,6597557,7%
4,MatTouch,IT Services,2013,$14026934,7429377 Dollars,3138627,26%
5,TechDrill,Financial Services,2009,$11757018,916455 Dollars,11412916,8%
6,TechLine,Financial Services,2006,$12329371,6482465 Dollars,11412916,23%
7,CityAce,Financial Services,2010,$11757018,916455 Dollars,11412916,6%
8,KeyElectronics,Financial Services,2009,$12329371,6482465 Dollars,11412916,4%
9,Ganzlax,Financial Services,2011,$11757018,916455 Dollars,11412916,18%
9,TranTaxlax,Financial Services,2011,$12329371,6482465 Dollars,11412916,7%